<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consultations</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/appDoctor.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        td {
            width: 200px;
            text-align: center;
        }

        th {
            text-align: center;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }

    </style>
</head>
<body onload="connect()" onunload="disconnect()">
<a th:href="@{/logout}">Logout</a>

<h1>Choose patient:</h1>
<h2 th:text="${message}"></h2>

<hr/>
<br/>
<form>
    Patient: <br/>
    <select name="patientId" id="patientId">
        <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
    </select> <br/>

    <button type="submit" name="filter">Get info</button>
</form>
<hr/>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consultation : ${consultations}">
        <td th:text="${consultation.id}"></td>
        <td th:text="${consultation.date}"></td>
        <td th:text="${consultation.details}"></td>
    </tr>
    </tbody>
</table>

<hr/>

<form>
    Id: <br/>
    <input type="number" id="consultationId" name="consultationId"/> <br/> <br/>
    Details: <br/>
    <textarea id="details" name="details"></textarea> <br/>
    <button type="submit" name="update">Update</button>
</form>

<hr/>
<noscript><h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Notification</th>
                </tr>
                </thead>
                <tbody id="notifications">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>