<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consultations</title>
    <style>
        td {
            width: 200px;
            text-align: center;
        }

        th {
            text-align: center;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }


    </style>
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<a th:href="@{/patients}">Patients</a>

<h1>Consultations:</h1>
<h2 th:text="${message}"></h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consultation : ${consultations}">
        <td th:text="${consultation.id}"></td>
        <td th:text="${consultation.doctor.name}"></td>
        <td th:text="${consultation.patient.name}"></td>
        <td th:text="${consultation.date}"></td>
    </tr>
    </tbody>
</table>

<hr/>
<br/>
<h3>All fields must me completed</h3>
<form action="#" th:action="@{/consultations-secretary}" name="consultationDto" id="consultationDto"
      th:object="${consultationDto}" method="post">
    Id: <br/>
    <input type="number" id="consultationId" name="consultationId"/> <br/>
    Doctor: <br/>
    <select name="doctor_id" id="doctor_id" th:field="${consultationDto.doctor_id}">
        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
    </select> <br/>
    Patient: <br/>
    <select name="patient_id" id="patient_id" th:field="${consultationDto.patient_id}">
        <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
    </select> <br/>
    Date: <br/>
    <input type="date" id="date" name="date" th:field="${consultationDto.date}"/> <br/>

    <button type="submit" name="create">Create</button>
    <button type="submit" name="update">Update</button>
</form>
<hr/>
<form>
    Id: <br/>
    <input type="number" id="deleteId" name="deleteId"/> <br/> <br/>
    <button type="submit" name="delete">Delete</button>
</form>
</body>
</html>