<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consultations</title>
    <style>
        td {
            width: 200px;
            text-align: center;
        }

        th {
            text-align: center;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }


    </style>
</head>
<body>
<a th:href="@{/logout}">Logout</a>

<h1>Choose patient:</h1>
<h2 th:text="${message}"></h2>

<hr/>
<br/>
<form>
    Patient: <br/>
    <select name="patientId" id="patientId" >
        <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
    </select> <br/>

    <button type="submit" name="filter">Get info</button>
</form>
<hr/>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consultation : ${consultations}">
        <td th:text="${consultation.id}"></td>
        <td th:text="${consultation.date}"></td>
        <td th:text="${consultation.details}"></td>
    </tr>
    </tbody>
</table>

<hr/>

<form>
    Id: <br/>
    <input type="number" id="consultationId" name="consultationId"/> <br/> <br/>
    Details: <br/>
    <textarea id="details" name="details"></textarea> <br/>
    <button type="submit" name="update">Update</button>
</form>
</body>
</html>